@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Do Hyeon', sans-serif;
    text-decoration: none;
    /* list-style: none; */
    
    
}
body {
    /* display:inline-flex; 
    justify-content: center; */
    align-items: center; 
     width: 100%;
    height:calc (100vh - 80px); 
    font-family: 'Do Hyeon', sans-serif; 
     letter-spacing: 0.1em;
    line-height: 1.0; 
    background: url(IMG/fondo2.jpg); 
   
    
}
.container{
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    
    
}
.container .card img{
    width: 330px;
    height: 220px;
}  

.container .card h1{
    font-weight: 300;
    color: rgb(212, 63, 125);
    font-size: 25px;
} 
 .container .card h2{
    padding: 0 1rem;
    font-size: 20px;
    font-weight: 300;
    color: rgb(51, 145, 98);
}  

.container .card{
    position:relative;
    max-width: 300px;
    height: 215px;
    background: url(IMG/fondo\ content.jpg);
    margin: 30px 10px;
    padding: 20px 15px ;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(78, 229, 235, 0.5);
    transition: 0.3s ease-in-out;
    text-align: center; 
    
   
    width: 280px;
    /* height: 280px; */
    /* border-radius: 8px;
    box-shadow: 0 2px rgba(10, 10, 10, 0.2);
    overflow: hidden; */
    /* margin: 60px;
    font-size: 10px;
    text-align: center; 
    transition: all 0.25s; */
    /* box-shadow: 4px 4px 4px rgb(32, 182, 174); 
    font-family:'Do Hyeon', sans-serif;
    background: rgb(255, 255, 255); */
    /* background-size: cover; */
   
    /* flex-wrap: wrap;  */
    
    
}
.container .card:hover{
    height: 420px;
}
.container .card .imgBx{
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    left: 20px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(66, 241, 232, 0.2);
   
}
.container .card .imgBx img{
    max-width: 100%;
    border-radius: 10px;
  
}
.container .card .content{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: rgb(32, 161, 75);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
    
}
.container .card:hover .content{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}

 
Aquí inicia la tarjeta anterior :D
 
/* *{
 margin: 0;
 padding: 0;
 text-decoration: none;
 list-style: none;
 
}

 body{
    width: 100%;
    height:calc (100vh - 80px);
    font-family: 'Do Hyeon', sans-serif;
    letter-spacing: 0.3em;
    line-height: 1.6;
    background: url(IMG/fondo2.jpg); 
    background-size: cover;
} */

label .tittle{

    text-align: center;
    font-size:45px;
    margin-top: 100px;
    font-weight: bold;
    padding: 0 100px;
    line-height: 50px;

}

nav ul{
    float: right;
    margin-right: 40px;
}

nav li{
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}

nav a{
    color: cadetblue;
    text-shadow:2px 2px 2px  rgb(155, 240, 58);
    font-size: 18px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px ;
    border-radius: 3px;
}

a.active,a:hover{
    border:1px solid white;
    transition: .5s;

}

nav #icon{
    color: rgb(231, 38, 96);
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;

}

.wrapper{
    width: 200%;
    max-width: max-content; 
    margin: auto;
    overflow:hidden;
   
}

.formulario-busqueda{
    display:inline-flex;
    border-radius: 20px;
    height: 40px;
    width: 500px;
    margin-top: 150px;

    

}

 .botonBuscar{
   display: inline-block;
   background-color:#8ed6d8;
   color:rgb(211, 58, 178);
   border-radius: 30px; 
   font-weight: 600;
   font-family:'Do Hyeon', sans-serif;
   font-size: 20px;
   text-align:center;
   width:70px;
   height: 40px;
   transform: translateX(-5%);
   
} 

/* tamaño muy grande  */
@media (max-width: 700px){
    label .tittle{
     font-size: 32px ;
     padding-left:60px ;
    }
    nav ul{
     margin-right: 20px;
    }
    nav a{
     font-size: 17px;
    }
    .formulario-busqueda{
      
        height: 40px;
        width: 500px;  
        margin: 150px;  
    
    } 
}

@media (max-width: 909px){
   nav #icon{
     display:block ;
     position:static;
    }
    nav ul{
     position: fixed; 
     width: 100% ;
     height: 100vh;
     background: #8ec429;
     top: 80 px;
     left: -100%;
     text-align: center;
     transition: all .5s;
    }
    nav li{
     display: block;
     margin: 50px 0;
     line-height: 30px;
    }
    nav a{
     font-size: 20px;
    }
    a.active,a:hover{
      border: none;
      color: #3498db;

    } 
    nav ul.show{
        left: 0;
    }
    
} 
/* 
.container{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:auto;
}  
 
.container .card{
    width: 280px;
    height: 280px;
    border-radius: 8px;
    box-shadow: 0 2px rgba(10, 10, 10, 0.2);
    overflow: hidden;
    margin: 60px;
    font-size: 10px;
    text-align: center;
    transition: all 0.25s;
    box-shadow: 4px 4px 4px rgb(32, 182, 174); 
    font-family:'Do Hyeon', sans-serif;
    background: rgb(255, 255, 255);
    background-size: cover;
   
    flex-wrap: wrap;
    
}  
 
.container .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(166, 225, 230, 0.2); */
 
 
/* .container .card a{
    font-weight: 500;
    text-decoration: none;
    color: rgb(49, 36, 131);
}     */



/* prueba jess modal */
#modalPopup { display: none;
}
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
}


#containerBusqueda {display: none;}