@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Do Hyeon', sans-serif;
    text-decoration: none;
}
header{
    width: 100%;
    max-width: 960px;
    min-width: 300px;
    margin: 0 auto;
}
img{
    width: 100%;
    height: auto;
}
header nav{
    margin-top: 0px;
    max-width:1000px ;
    margin: 2px auto; 
    
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgb(156, 38, 160); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; 
  }
.menu_bar{
    display: none;
}
 nav ul{
overflow:hidden;
list-style: none; 
background: #d1d88e;



}
 nav ul li{
    float: left;
}
 nav ul li a
{
    color: cadetblue;
    text-shadow:2px 2px 2px  rgb(155, 240, 58);
    display: block;
    margin-left: 36px;
    font-size: xx-large;
    padding:20px;
    text-decoration:none;
    
}
  nav ul li a:hover{
    background: #1AF186;
}


@media screen and (max-width:800px ) {
	 nav {
		width:80%;
		height:100%;
		left:-100%;
		margin:0;
		position: fixed;
	}

	nav ul li {
		display:block;
		float:none;
		border-bottom:1px solid rgba(255,255,255, .3);
	}

	.menu_bar {
		display:block;
		width:100%;
		background:#ccc;
	}

	.menu_bar .bt-menu {
		display:block;
		padding:20px;
		background:  #1AF186;
		color:#fff;
		text-decoration:none;
		font-weight: bold;
		font-size:25px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}

	.menu_bar span {
		float:right;
		font-size:40px;
	}
} 


.formulario-busqueda{
    display:inline-flex;
    border-radius: 20px;
    height: 50px;
    width: 400px;
    margin-top: 30px;
    background: rgb(193, 230, 30);
    max-width: 800px;
    
}
 .botonOrdenar{
   display: inline-block;
   background-color:#8ed6d8;
   color:rgb(211, 58, 178);
   border-radius: 30px; 
   font-weight: 300;
   font-family:'Do Hyeon', sans-serif;
   font-size: 20px;
   text-align:center;
   height: 50px;
   transform: translateX(-5%);
} 


body {
    background: url(IMG/fondo2.jpg); 
   


}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}

.container .card{
    position:relative;
    max-width: 300px;
    height: 190px;
    background: url(IMG/fondo\ content.jpg);
    margin: 30px 10px;
    padding: 20px 15px ;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(78, 229, 235, 0.5);
    transition: 0.3s ease-in-out;

    text-align: center; 
    width: 280px;
   
}
.container .card:hover{
    height: 420px;
}
.container .card .imgBx{
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    left: 20px;
    /* z-index: 1; */
    box-shadow: 0 5px 20px rgba(66, 241, 232, 0.2);
    
}
.container .card .imgBx img{
    max-width: 100%;
    border-radius: 10px;
}
.container .card .content{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: rgb(32, 161, 75);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
   
}
.container .card:hover .content{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
   
}

.container .card img{
    width: 330px;
    height: 220px;
}  
.container .card h1{
    font-weight: 300;
    color: rgb(212, 63, 125);
    font-size: 25px;
} 
.container .card h2{
    padding: 0 1rem;
    font-size: 20px;
    font-weight: 300;
    color: rgb(51, 145, 98);
}  


/* Diseño grafica circular */
/* .d-none {
    display: none;
} */
#graficoPersonajesPrincipales, #graficoGeneroPersonajes {
    background: url(IMG/fondo1.jpg);
    /* background-color: #fff; */
    border-radius: 20px;
    margin-bottom: 30px; 
    padding: 50px; 
}


#viewStatistics {
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 38vw;
  }
  
#viewStatistics h1 {
    color: cadetblue;
    text-shadow:2px 2px 2px  rgb(155, 240, 58);
    text-align: center;
    letter-spacing: 1px;
    font-size:50px;
    
  }
 
/* Diseño grafica de barras */

